
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="page-404 minWP text-c">
    <p class="error-title">
        <i class="Hui-iconfont va-m">&#xe688;</i>
        <span class="va-m">警告！！！</span>
    </p>
    <p class="error-description">不好意思，@Model</p>
    
</article>
﻿

